[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clickable = {ref = "v1.3", git = "https://github.com/lalmeras/clickable"}

[scripts]
infrastructure-doc = "clickable"

[dev-packages]

[requires]
python_version = "3.9"
